<form class="form-signin">
    <h2 class="form-signin-heading">Agile Singapore 2013</h2>
    <p class="lead">Congratulation</p>
    <p class="lead">Successfully Registered </p>
    <button class="btn-large btn btn-success" type="submit" formaction="http://agileasia.infinite.ly">Back to Agile Singapore >></button>
</form>